@use "./base.scss";

// put your custom CSS here!

.rook {
    color: #44bb44 !important; /* Soft Green */
}

.kitah {
    color: #ff6666 !important; /* Soft Red */
}

.mirah {
    color: #6666ff !important; /* Soft Blue */
}

.mori {
    color: #9572dd !important; /* Soft Indigo */
}

.akira {
    color: #66ffff !important; /* Soft Cyan */
}

.bertea {
    color: #ffff66 !important; /* Soft Yellow */
}

.xaya {
    color: #c9a0dc !important; /* Soft Purple */
}