@use "./base.scss";

// put your custom CSS here!

.rook {
    color: #44bb44; /* Soft Green */
}

.kitah {
    color: #ff6666; /* Soft Red */
}

.mirah {
    color: #6666ff; /* Soft Blue */
}

.mori {
    color: #9572dd; /* Soft Indigo */
}

.akira {
    color: #66ffff; /* Soft Cyan */
}

.bertea {
    color: #ffff66; /* Soft Yellow */
}

.xaya {
    color: #c9a0dc; /* Soft Purple */
}